# Build results
bin/
obj/
Debug/
Release/
x64/
x86/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# NuGet packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Others
wwwroot/lib/
